{{#sec-tion}}
  {{log session.isAuthenticated 'session.isAuthenticated'}}
  {{#if session.isAuthenticated}}

  <div style="text-align: center">
    @logo@ Ember search likes
  </div>
  <div class="navigation">
    <div>
      {{link-to "Список друзей" "authenticated.friends"}}
    </div>
  </div>
  {{/if}}

{{/sec-tion}}
{{outlet}}
