{{#sec-tion}}
  {{log session.isAuthenticated 'session.isAuthenticated'}}
  {{#if session.isAuthenticated}}

  {{/if}}
  <div class="navigation">
    <div>
      @logo@ Ember search likes
    </div>

    <div>
      {{link-to "Список друзей" "authenticated.friends"}}
    </div>
  </div>

{{/sec-tion}}
{{outlet}}
