@at-root

  .userCard

    display: flex
    justify-content: space-between
    padding: 5px
    margin: 5px 0
    width: 250px
    border: 1px solid #ddd

    color:            rgba(0,0,0,0.87)
    background-color: rgb(255,255,255)
    border-radius:    2px

  .userCard-section._text
    padding: 5px 5px 0 5px

  .userCard-section-text-name
    margin-bottom: 5px

  .userCard-section-text-name-link
    font-weight: 600
    font-size: 15px
    color: #2a5885
    text-decoration: none


  .userCard-section-text-status
    color: #939393
    font-size: 11.5px
