<div class="userCard-section _text">
  <div class="userCard-section-text-name">
    {{link-to (concat user.firstName " " user.lastName) "authenticated.friends.friend" user.id class="userCard-section-text-name-link"}}
  </div>
  <div class="userCard-section-text-status">
    {{user-status-online user=user}}
  </div>
</div>

<div class="userCard-section _image">
  <img src="{{user.photo_100}}" alt="">
</div>